<html>
  <head>
    <title>Chinese Card Creator!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stdtheme.css') }}">    
  </head>
  <body>
    <h1>中文 Card Creator!</h1>
    <input type="text"></input><button id="create">Create</button>
    <br><br>
    <p>XX cards waiting to be exported</p>
    <button id="export">Export</button>
  </body>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
